/*regulations*/
/*general*/
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/*end of general*/
/*form*/
/*radio button*/
.input-radio {
  display: none;
}
.input-radio:checked + label::after {
  background: #aec7ff;
  background: -webkit-linear-gradient(315deg, #c6d8ff, #85a5f5);
  background: linear-gradient(135deg, #c6d8ff, #85a5f5);
}

.label-radio {
  cursor: pointer;
  position: relative;
}
.label-radio::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  box-shadow: inset 0 1px 2px 0 rgba(48, 48, 48, 0.35);
}
.label-radio::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
}

/*end of radio button*/
/*checkbox*/
.input-checkbox {
  display: none;
}
.input-checkbox:checked + label::before {
  box-shadow: none;
  background: #7fb3ff;
}
.input-checkbox:checked + label::after {
  display: block;
}

.label-checkbox {
  position: relative;
  cursor: pointer;
}
.label-checkbox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px 0 rgba(173, 173, 173, 0.75);
  background: #fff;
}
.label-checkbox::after {
  display: none;
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 4px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: transparent;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*end of checkbox*/
/*type='text'*/
.type-text {
  border: 1px solid #d7d7d7;
  outline: none;
  font-family: NeueHaas_light, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #464646;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}
.type-text:hover, .type-text:focus {
  border: 1px solid #7fb3ff;
}
.type-text:disabled {
  background: #f1f1f1;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.17);
  border: none;
}
.type-text:disabled:hover, .type-text:disabled:focus {
  border: none;
}
.type-text-shadow {
  padding: 5px;
  border: none;
  outline: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}
.type-text-shadow {
  box-shadow: inset -1px 1px 3px 0 rgba(0, 0, 0, 0.17);
}

/*end of type='text'*/
/*textarea*/
.textarea {
  padding: 5px;
}
.textarea::-webkit-input-placeholder {
  opacity: 1;
  font-family: NeueHaas_thin-it, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  color: #959595;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}
.textarea:-ms-input-placeholder {
  opacity: 1;
  font-family: NeueHaas_thin-it, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  color: #959595;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}
.textarea::-moz-placeholder {
  opacity: 1;
  font-family: NeueHaas_thin-it, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  color: #959595;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}

/*end of textarea*/
/*brown button*/
.brown_button {
  display: block;
  border: none;
  outline: none;
  font-family: NeueHaas_bold, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
  background: #8b0333;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  padding: 8px 0;
  cursor: pointer;
}
.brown_button:hover, .brown_button:focus {
  background: #a71548;
}

/*end of brown button*/
/*blue button*/
.blue_button {
  padding: 8px 0;
  cursor: pointer;
  background: #7fb3ff;
  outline: none;
  border: none;
  font-family: NeueHaas_bold, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 400;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
}
.blue_button:hover, .blue_button:focus {
  background: #4c83fc;
}
.blue_button--dark {
  background: #4c83fc;
}
.blue_button--dark:hover, .blue_button--dark:focus {
  background: #0050ff;
}

/*end of blue button*/
/*shadow_button*/
.shadow_button {
  padding: 8px 0;
  cursor: pointer;
  background: #f7f7f7;
  outline: none;
  border: none;
  font-family: NeueHaas_medium, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #464646;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
}
.shadow_button:hover, .shadow_button:focus {
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.25);
}

/*end of shadow_button*/
/*gradient_button*/
.gradient_button {
  font-family: NeueHaas_medium, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0 9px;
  background: #79aaf2;
  background: -webkit-linear-gradient(top, #a4c8ff, #789add);
  background: linear-gradient(to bottom, #a4c8ff, #789add);
}
.gradient_button span {
  font-size: 16px;
}

/*end of gradient_button*/
/*select formstyler plugin*/
.jq-selectbox-main {
  display: inline-block;
  vertical-align: top;
}
.jq-selectbox-main.disabled .disabled {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.17);
  border: none;
}
.jq-selectbox-main.disabled .jq-selectbox {
  z-index: 0 !important;
}
.jq-selectbox-main .jq-selectbox {
  width: 100%;
}
.jq-selectbox-main .jq-selectbox.opened .jq-selectbox__trigger-arrow {
  border-top: none;
  border-bottom: 7px solid #8b0333;
}
.jq-selectbox-main .dropup .jq-selectbox__dropdown {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
.jq-selectbox-main li {
  font-family: NeueHaas_light, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #8f9091;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  padding: 4px 11px 0;
}
.jq-selectbox-main li.selected {
  background: #e7f0fe;
}
.jq-selectbox-main .jq-selectbox__select {
  border: none;
  height: 32px;
  box-sizing: border-box;
  padding: 9px 36px 6px 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  position: relative;
}
.jq-selectbox-main .jq-selectbox__select-text {
  font-family: NeueHaas_light, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}
.jq-selectbox-main .jq-selectbox__trigger {
  width: 36px;
  height: 32px;
}
.jq-selectbox-main .jq-selectbox__trigger-arrow {
  top: 13px;
  right: 12px;
  width: 0;
  height: 0;
  border-bottom: 0;
  border-top: 7px solid #8b0333;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  pointer-events: none;
}
.jq-selectbox-main .jq-selectbox__dropdown {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-top: 0;
}

/*end of select formstyler plugin*/
/*form-close*/
.form-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 68px;
  height: 68px;
  background: #e1e1e1;
  cursor: pointer;
}
.form-close::before {
  content: '';
  position: absolute;
  top: 30px;
  right: 20px;
  width: 25px;
  height: 5px;
  background: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.form-close::after {
  content: '';
  position: absolute;
  top: 30px;
  right: 20px;
  width: 25px;
  height: 5px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*end of form-close*/
/*form-white*/
.form-white {
  background: #fff;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.31);
}

/*end of form-white*/
/*close-blue*/
.close-blue {
  position: absolute;
  top: -11px;
  right: -8px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #7fb3ff;
  cursor: pointer;
}
.close-blue::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 8px;
  width: 2px;
  height: 10px;
  background: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close-blue::after {
  content: '';
  position: absolute;
  top: 5px;
  right: 8px;
  width: 2px;
  height: 10px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*end of close-blue*/
/*round-check*/
.round-check {
  position: relative;
}
.round-check::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #7fb3ff;
}
.round-check::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 9px;
  height: 6px;
  background: transparent;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*end of round-check*/
/*end of form*/
/*titles*/
.form-title {
  font-family: NeueHaas_bold, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
}

.content-title {
  font-family: NeueHaas_bold, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
}
.content-title-item {
  font-family: NeueHaas_medium, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}
.content-title-item--reg {
  font-family: NeueHaas_reg, Helvetica, sans-serif;
  text-transform: uppercase;
}
.content-title-info {
  font-family: NeueHaas_bold, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
}
.content-title-info--low {
  text-transform: none;
}

.select-text {
  font-family: NeueHaas_reg, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  color: #959595;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}
.select-text--black {
  color: #000;
}
.select-text--thinit {
  font-family: NeueHaas_thin-it, Helvetica, sans-serif;
}

.form-text {
  font-family: NeueHaas_medium, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}

.text-little {
  font-family: NeueHaas_medium, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}
.text-little--light {
  font-family: NeueHaas_light, Helvetica, sans-serif;
}
.text-little--italic {
  font-family: NeueHaas_it, Helvetica, sans-serif;
  color: #363636;
}

/*end of titles*/
/*b-login-block*/
.b-login-block {
  display: none;
  background: url("../images/pattern.jpg");
  position: fixed;
  top: 59px;
  bottom: 212px;
  left: 0;
  right: 0;
}
.b-login-block__form {
  width: 274px;
  margin: 0 auto 0;
  background: #f4f4f4;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  padding: 38px 67px 81px;
}
.b-login-block__form--reg {
  padding-bottom: 53px;
}
.b-login-block__form-title {
  font-family: NeueHaas_light, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 1.2em;
  font-weight: 400;
  color: #898989;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
}
.b-login-block__form-error {
  display: none;
  font-family: NeueHaas_reg, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: red;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 15px;
}
.b-login-block__form-label {
  display: block;
  margin-bottom: 6px;
  font-family: NeueHaas_light, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #464646;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}
.b-login-block__form-label--checkbox {
  float: left;
  color: #7f7f7f;
  padding-left: 23px;
  margin-top: 6px;
}
.b-login-block__form-label--checkbox-reg {
  padding-left: 33px;
  margin-bottom: 18px;
}
.b-login-block__form-label--radio {
  color: #000;
  padding-left: 23px;
  margin-bottom: 15px;
}
.b-login-block__form-label--radio-last {
  margin-bottom: 32px;
}
.b-login-block__form-label--code {
  display: inline-block;
  font-family: NeueHaas_reg, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #959595;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}
.b-login-block__form-input {
  display: block;
  margin-bottom: 9px;
  padding: 5px;
  width: 263px;
  height: 20px;
}
.b-login-block__form-input--last {
  margin-bottom: 6px;
}
.b-login-block__form-input--code {
  display: inline-block;
  outline: none;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.17);
  width: 105px;
  height: 21px;
  padding: 5px;
  margin-right: 11px;
  margin-bottom: 23px;
  border: 1px solid #f4f4f4;
}
.b-login-block__form-link {
  display: block;
  float: right;
  font-family: NeueHaas_light, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #7f7f7f;
  text-transform: none;
  text-decoration: underline;
  letter-spacing: 0;
  margin-top: 6px;
  margin-bottom: 18px;
}
.b-login-block__form-link:hover, .b-login-block__form-link:focus {
  text-decoration: none;
}
.b-login-block__form-text {
  font-family: NeueHaas_thin-it, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #ababab;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0 0 26px;
}
.b-login-block__form-submit {
  clear: both;
  display: block;
  margin: 0 auto;
  outline: none;
  border: none;
  font-family: NeueHaas_bold, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
  padding: 9px 0;
  width: 274px;
  background: #7fb3ff;
  box-shadow: 0 1px 3px 0 rgba(81, 133, 210, 0.75);
  cursor: pointer;
}

/*end of b-login-block*/
/*b-feedback-block*/
.b-feedback-block__box {
  display: none;
  background: #fff;
  padding: 27px 10px 37px 18px;
  position: relative;
}
.b-feedback-block__box-title {
  font-family: NeueHaas_bold, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
  margin: 0 0 42px;
}
.b-feedback-block__box-list {
  float: left;
  margin: 0 0 12px;
  padding: 0;
  list-style: none;
  width: 320px;
}
.b-feedback-block__box-item {
  font-size: 0;
  margin-bottom: 14px;
}
.b-feedback-block__box-item-title {
  display: inline-block;
  font-family: NeueHaas_light, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  margin: 9px 21px 0 3px;
}
.b-feedback-block__box-item-select {
  display: inline-block;
  vertical-align: top;
  width: 199px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
}
.b-feedback-block__box-item-select::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 27px;
  height: 32px;
  background: #fff;
  pointer-events: none;
  cursor: pointer;
}
.b-feedback-block__box-item-select::after {
  content: '';
  position: absolute;
  top: 13px;
  right: 12px;
  width: 0;
  height: 0;
  border-top: 7px solid #8b0333;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  pointer-events: none;
  cursor: pointer;
}
.b-feedback-block__box-item-select.opened::after {
  border-top: none;
  border-bottom: 7px solid #8b0333;
}
.b-feedback-block__box-item-select select {
  outline: none;
  border: none;
  width: 199px;
  font-family: NeueHaas_light, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  padding: 5px 10px 6px 6px;
  cursor: pointer;
}
.b-feedback-block__box-item-select select option {
  color: #6b6b6b;
}
.b-feedback-block__box-item label {
  display: block;
  float: left;
}
.b-feedback-block__box-item input {
  display: block;
  float: right;
  margin-top: 2px;
  margin-right: 33px;
  outline: none;
  border: 1px solid #d7d7d7;
  width: 190px;
  height: 28px;
  padding-left: 6px;
}
.b-feedback-block__box-message {
  float: right;
  margin-right: 10px;
  min-width: 393px;
}
.b-feedback-block__box-message-title {
  display: block;
  float: left;
  font-family: NeueHaas_reg, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  margin: 3px 0 19px;
  max-width: 80px;
}
.b-feedback-block__box-message textarea {
  float: right;
  outline: none;
  border: 1px solid #d7d7d7;
  resize: none;
  width: 291px;
  height: 111px;
  padding: 6px;
  font-family: NeueHaas_reg, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}
.b-feedback-block__box-submit {
  clear: both;
}
.b-feedback-block__box-submit input {
  display: block;
  float: right;
  margin-right: 10px;
  width: 185px;
  padding: 8px 0;
}
.b-feedback-block__box-text {
  display: block;
  float: left;
  font-family: NeueHaas_light-it, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  color: #6b6b6b;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  margin: 6px 0 0 4px;
  padding: 0;
}
.b-feedback-block__box-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 68px;
  height: 68px;
  background: #e1e1e1;
  cursor: pointer;
}
.b-feedback-block__box-close::before {
  content: '';
  position: absolute;
  top: 30px;
  right: 20px;
  width: 25px;
  height: 5px;
  background: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.b-feedback-block__box-close::after {
  content: '';
  position: absolute;
  top: 30px;
  right: 20px;
  width: 25px;
  height: 5px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*end of b-feedback-block*/
/*b-bonus-block*/
.b-bonus-block {
  clear: both;
  padding: 1px 6px 7px 19px;
  background: #fff;
  margin: 25px 0px 15px;
  border: 1px solid #ccc;
  min-height: 839px;
}
.b-bonus-block h2 {
  font-size: 21px;
  margin-bottom: 21px;
}
.b-bonus-block__text {
  font-family: NeueHaas_reg, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  margin-bottom: 27px;
}
.b-bonus-block__button {
  display: block;
  width: 196px;
  height: 23px;
  padding: 7px 10px 0;
  margin-left: 1px;
  border-radius: 5px;
  background: #6e9cde;
  background: -webkit-linear-gradient(top, #8ec2ff, #6e9cde);
  background: linear-gradient(to bottom, #8ec2ff, #6e9cde);
  font-family: NeueHaas_medium, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 31px;
}
.b-bonus-block__button:hover, .b-bonus-block__button:focus {
  background: #8ec2ff;
  background: -webkit-linear-gradient(bottom, #8ec2ff, #6e9cde);
  background: linear-gradient(to top, #8ec2ff, #6e9cde);
}
.b-bonus-block__button span {
  font-family: NeueHaas_bold, Helvetica, sans-serif;
}
.b-bonus-block__link {
  display: inline-block;
  font-family: NeueHaas_bold, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  padding: 5px 113px 10px 16px;
  margin-top: 9px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
}
.b-bonus-block__link span {
  text-transform: uppercase;
}
.b-bonus-block__link::after {
  content: '';
  position: absolute;
  top: 13px;
  right: 12px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #8b0333;
}
.b-bonus-block__presents {
  display: none;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 14px 17px 0 13px;
  width: 516px;
}
.b-bonus-block__presents-hide {
  float: right;
  font-family: NeueHaas_light, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #959595;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  cursor: pointer;
}
.b-bonus-block__presents-title {
  font-family: NeueHaas_bold, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 0;
  margin-bottom: 30px;
}
.b-bonus-block__presents-title span {
  text-transform: uppercase;
}
.b-bonus-block__presents-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
}
.b-bonus-block__presents-item {
  border: 1px solid #d7d7d7;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 19px;
  text-align: center;
  text-decoration: none;
  color: #000;
  width: 112px;
  min-height: 144px;
}
.b-bonus-block__presents-item:nth-child(4n) {
  margin-right: 0;
}
.b-bonus-block__presents-item-title {
  font-family: NeueHaas_medium, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  margin: 8px auto 17px;
}
.b-bonus-block__presents-item-points {
  font-family: NeueHaas_medium, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
  background: #8b0333;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  width: 100px;
  padding: 2px 0 5px;
  margin: 0 auto;
}
.b-bonus-block__presents-link {
  text-decoration: none;
}
.b-bonus-block__presents-img {
  width: 62px;
  margin: 0 auto 12px;
}
.b-bonus-block__presents-img img {
  max-width: 100%;
}

/*end of b-bonus-block*/
/*end of regulations*/

/*# sourceMappingURL=bonus.css.map */