/*b-auction-public-block--protocol*/
.b-auction-public-block{

  &__protocol{
    text-align: right;
    margin: 60px 0 0;
    padding: 0;

    &-download{
      display: inline-block;
      vertical-align: top;
      margin: 0 17px 20px 0;
      font-family: NeueHaas_reg, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 1.2em;
      font-weight: 400;
      color: #8b0333;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0;

      &:hover,
      &:focus{
        text-decoration: underline;
      }
    }

    &-title{
      margin: 0 0 33px;
      text-transform: uppercase;
      text-align: center;
    }

    &-table-info{
      margin: 0 16px 14px 17px;
      padding: 0;
      border-collapse: collapse;
      border: none;
      text-align: left;

      td{
        margin: 0;
        padding: 0 0 12px;
        vertical-align: top;

        &:first-child{
          width: 210px;
        }

        &:last-child{
          font-family: NeueHaas_reg, Helvetica, sans-serif;
        }
      }
    }

    &-table-results{
      margin: 0;
      padding: 0;
      border-collapse: collapse;
      border: none;
      text-align: left;

      tr{
        border-top: 1px solid #ededed;

        &:nth-child(2){

          th{
            padding: 4px 0 7px;
          }
        }

        &:first-child,
        &:nth-child(2),
        &:nth-child(3){
          border-top: none;
        }

        &.b-auction-public-block__protocol-table-results-winner{
          border-top: none;
          background: #8b0333;

          td{
            font-family: NeueHaas_medium, Helvetica, sans-serif;
            color: #fff;

            &:first-child{
              font-family: NeueHaas_light, Helvetica, sans-serif;
            }

            &:nth-child(2){
              font-family: NeueHaas_reg, Helvetica, sans-serif;
            }

            &:nth-child(6){
              font-family: NeueHaas_bold, Helvetica, sans-serif;
              color: #8b0333;
              padding: 7px 0;
              
              span{
                display: block;
                min-width: 73px;
                margin: 0 auto;
                padding: 8px 0;
                background: #fff;
                text-align: center;
              }
            }
          }
        }
      }

      th{
        font-family: NeueHaas_light, Helvetica, sans-serif;
        font-size: 11px;
        line-height: 1.2em;
        font-weight: 400;
        color: #898989;
        text-transform: none;
        text-decoration: none;
        letter-spacing: 0;
        text-align: center;
        background: #f3f3f3;
        padding: 0;
        
        &:nth-child(3){
          
          span{
            display: block;
            color: #464646;
            text-align: center;
            background: #fff;
            margin: 2px 0 0;
            padding: 4px 0 7px;
          }
        }

        .b-auction-public-block__protocol-table-results{

          &-step{
            font-family: NeueHaas_reg, Helvetica, sans-serif;
            font-size: 12px;
            line-height: 1.2em;
            font-weight: 400;
            color: #898989;
            text-transform: none;
            text-decoration: none;
            letter-spacing: 0;
            margin: 0 0 3px;
          }

          &-period{
            font-family: NeueHaas_light-it, Helvetica, sans-serif;
            font-size: 10px;
            line-height: 1.2em;
            font-weight: 400;
            color: #8b0333;
            text-transform: none;
            text-decoration: none;
            letter-spacing: 0;
          }
        }
      }

      td{
        padding: 15px 0;
        font-family: NeueHaas_reg, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 1.2em;
        font-weight: 400;
        color: #464646;
        text-transform: none;
        text-decoration: none;
        letter-spacing: 0;
        text-align: center;

        &:first-child{
          width: 114px;
          font-family: NeueHaas_light, Helvetica, sans-serif;
          color: #000;
        }

        &:nth-child(2){
          width: 50px;
          font-family: NeueHaas_light, Helvetica, sans-serif;
          color: #000;
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5){
          width: 69px;
        }

        &:nth-child(6){
          width: 96px;
        }

        &:last-child{
          width: 97px;
        }
      }
    }
  }
}
/*end of b-auction-public-block--protocol*/