/*b-left*/
.b-left{

	&__subscribe{
		margin: 20px auto;
		padding: 15px 15px 10px;
		box-sizing: border-box;
		width: 305px;
		border: 1px solid #464646;

		h3{
			margin: 0 0 15px;
			font-family: NeueHaas_bold, Helvetica, sans-serif;
			font-size: 14px;
			line-height: 1.2em;
			font-weight: 400;
			color: #707070;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
		}

		input[type='text']{
			display: block;
			margin: 10px 0 15px;
			padding: 0 15px;
			box-sizing: border-box;
			width: 100%;
			min-height: 32px;
			border: none;
			outline: none;
			background: #fafafa;
			font-family: NeueHaas_reg, Helvetica, sans-serif;
			font-size: 12px;
			line-height: 32px;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;

			&::-webkit-input-placeholder{
				opacity: 1;
				font-family: NeueHaas_light-it, Helvetica, sans-serif;
				font-size: 12px;
				line-height: 32px;
				font-weight: 400;
				color: #b7b7b7;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			&:-ms-input-placeholder{
				opacity: 1;
				font-family: NeueHaas_light-it, Helvetica, sans-serif;
				font-size: 12px;
				line-height: 32px;
				font-weight: 400;
				color: #b7b7b7;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			&::-moz-placeholder{
				opacity: 1;
				font-family: NeueHaas_light-it, Helvetica, sans-serif;
				font-size: 12px;
				line-height: 32px;
				font-weight: 400;
				color: #b7b7b7;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}
		}

		input[type='submit']{
			margin: 10px auto 0;
			padding: 0;
			box-sizing: border-box;
			display: block;
			width: 136px;
			min-height: 32px;
			border: 1px solid #8b0333;
			outline: none;
			box-shadow: 0 1px 1px 0 rgba(0,0,0,.25);
			background: #fff;
			font-family: NeueHaas_bold, Helvetica, sans-serif;
			font-size: 12px;
			line-height: 1.2em;
			font-weight: 400;
			color: #8b0333;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
		}
	}
}
/*end of b-left*/