/*b-regulations-block*/
.b-regulations-block {
	clear: both;
	padding: 0;
	background: #fff;
	margin: 25px 0px 15px;
	border: 1px solid #ccc;

	&__title {
		margin: 0 0 30px 19px;
		padding-top: 22px;
	}

	&__nav{
		display: table-cell;
		background: #ebf3ff;
		width: 344px;
		border-right: 1px solid #e0e8f4;
		padding-right: 10px;
		padding-bottom: 160px;

		&-list{
			list-style: none;
			padding: 0;
			margin: 0;
		}

		&-item{
			margin-left: 18px;
			margin-bottom: 38px;
		}

		&-title{
			margin:0 0 20px 0;
			padding-left: 55px;
			position: relative;

			&::before{
				content: '';
				position: absolute;
				top: -4px;
				left: 0;
				width: 30px;
				height: 30px;
			}

			&--publish{

				&::before{
					background: url("../images/b-regulations-block__nav-title--publish.png") no-repeat 0 0;
				}
			}

			&--transactions{

				&::before{
					background: url("../images/b-faq-block__link--deals.png") no-repeat 0 0;
				}
			}

			&--jobs{

				&::before{
					background: url("../images/b-regulations-block__nav-title--jobs.png") no-repeat 0 0;
				}
			}

			&--interaction{

				&::before{
					background: url("../images/b-regulations-block__nav-title--interaction.png") no-repeat 0 0;
				}
			}
		}
	}

	&__form{

		&-label{
			display: block;
			font-family: NeueHaas_light, Helvetica, sans-serif;
			font-size: 14px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			padding-left: 56px;
			margin-bottom: 13px;

			&::before{
				top: 3px;
				left: 9px;
			}

			&::after{
				top: 6px;
				left: 12px;
			}
		}
	}

	&__info{
		display: table-cell;
		width: 458px;
		padding: 0 22px;
		box-sizing: border-box;

		&-item{
			display: none;

			&.show{
				display: block;
			}
		}

		&-title{
			text-align: center;
			line-height: 1.1em;
			margin: 23px 0 22px 0;
		}

		&-text, p, strong, b{
			font-family: NeueHaas_light, Helvetica, sans-serif;
			font-size: 12px;
			line-height: 1.5em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			margin: 0;

			b{
				display: inline;
			}
		}

		p{
			margin: 10px 0;
		}

		b{
			display: block;
			font-weight: bold;
			margin: 0;
		}

		strong{
			margin: 0;
		}

		table{
			border-collapse: collapse;
			padding: 0;
			width: 95%;
			margin: 5px auto;

			td{
				padding: 0 5px;
				border: 1px solid rgba(202, 195, 195, 0.32);
				width: 50%;
				vertical-align: top;
			}
		}

		ul{
			list-style: none;
			margin: 10px 0;
			padding: 0;

			li{
				padding: 0 0 0 10px;
				margin: 5px 0;
				font-family: NeueHaas_light, Helvetica, sans-serif;
				font-size: 12px;
				line-height: 1.5em;
				font-weight: 400;
				color: #000;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
				position: relative;

				&::before{
					content: '';
					position: absolute;
					top: 8px;
					left: 0;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background: #4583ff;
				}
			}
		}
	}
}
/*end of b-regulations-block*/