/*b-search on main-page*/
.b-search{

	&__select-main{

		.jq-selectbox__trigger-arrow{
			border-top: 7px solid #7fb3ff;
			border-bottom: none;
		}

		.jq-selectbox.opened{

			.jq-selectbox__trigger-arrow{
				border-bottom: 7px solid #7fb3ff;
				border-top: none;
			}
		}
	}
}
/*end of b-search on main-page*/