/*b-stores-block*/
.b-stores-block{
	clear: both;
	margin: 0 0 14px;
	padding: 15px 18px 19px 17px;
	background: #fff;
	width: 780px;
	border: 1px solid #d1d1d1;

	&__title{
		margin: 0 0 13px;

		&-info{
			margin: 0;
			padding: 5px 10px;
			float: right;
			background: #fff;
			border: 1px solid #c3c3c3;
			font-size: 12px;
		}
	}

	&__sort{
		background: #f4f4f4;
		margin: 0 0 26px;
		padding: 20px;

		&-type{
			margin: 0;
			padding: 17px 0 23px;


			&-title{
				float: left;
				margin: 0 30px 0 0;
			}

			label{
				display: block;
				float: left;
				margin: 3px 28px 0 0;
				padding: 0 0 0 25px;

				&::before{
					top: 1px;
				}

				&::after{
					top: 4px;
				}
			}
		}

		&-select{
			float: left;
			margin: 0 40px 0 0;

			&-title{
				margin: 0 0 10px;
			}

			&-category{
				width: 250px;
			}

			&-city {
				width: 224px;
			}

			.jq-selectbox{

				&__select-text{
					font-family: NeueHaas_light-it, Helvetica, sans-serif;
					font-size: 12px;
					line-height: 1.2em;
					font-weight: 400;
					color: #000;
					text-transform: none;
					text-decoration: none;
					letter-spacing: 0;
				}

				li{
					font-family: NeueHaas_light, Helvetica, sans-serif;
					font-size: 12px;
					line-height: 1.2em;
					font-weight: 400;
					color: #b7b7b7;
					text-transform: none;
					text-decoration: none;
					letter-spacing: 0;
					padding: 5px 0 0 9px;
					min-height: 26px;
					box-sizing: border-box;
				}
			}



		}

		&-submit{
			display: block;
			float: left;
			margin: 26px 0 0;
			width: 123px;
		}
	}

	&__table{
		margin: 0 0 30px;
		border: none;
		border-collapse: collapse;

		tr{
			border-bottom: 1px solid #ededed;

			&:first-child,
			&:last-child{
				border: none;
			}

			&.colored{
				background: #f1c43d;
			}

			&.circled{
				background: #f1c43d;
				border: 2px solid #ed5a4e;
			}
		}

		th{
			background: #f3f3f3;
			font-family: NeueHaas_light, Helvetica, sans-serif;
			font-size: 11px;
			line-height: 1.2em;
			font-weight: 400;
			color: #898989;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			border-right: 2px solid #fff;
			padding: 0;
			height: 39px;

			&:last-child{
				border: none;
			}
		}

		td{
			font-family: NeueHaas_light, Helvetica, sans-serif;
			font-size: 12px;
			line-height: 1.2em;
			font-weight: 400;
			color: #464646;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
			vertical-align: middle;
			padding: 10px 0 8px;

			&:last-child{
				color: #000;
			}

			&:first-child{
				max-width: 53px;
				width: 53px;
			}

			&:nth-child(2){
				max-width: 167px;
				width: 167px;
				padding: 5px 5px 5px 18px;
				box-sizing: border-box;
				text-align: left;

				a{
					text-decoration: underline;
					color: #464646;

					&:hover,
					&focus{
						color: #8b0333;
					}
				}
			}

			&:nth-child(3){
				max-width: 115px;
				width: 115px;
			}

			&:nth-child(4){
				max-width: 196px;
				width: 196px;
				padding: 5px 5px 5px 18px;
				box-sizing: border-box;
				text-align: left;
			}

			&:nth-child(5){
				max-width: 122px;
				width: 122px;
			}

			&:nth-child(6){
				max-width: 127px;
				width: 127px;
			}
		}
	}
}
/*end of b-stores-block*/