/*cabinet-services*/
.cabinet-services{

	.jq-selectbox__select-text{
		font-family: NeueHaas_reg, Helvetica, sans-serif;
		font-size: 14px;
		line-height: 1.2em;
		font-weight: 400;
		color: #959595;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	&__header{
		display: block;
		margin: 0;
		padding: 0 0 28px;

		h2{
			margin: 0 0 20px;
			padding: 0;
			font-family: NeueHaas_medium, Helvetica, sans-serif;
			font-size: 14px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0;
		}

		.jq-selectbox-main{
			margin: 0;
			width: 326px;
		}
	}

	&__mailing{
		margin: 0;
		padding: 0;

		.jq-selectbox__select{
			padding-top: 6px;
		}

		h3{
			margin: 0 0 18px;
			padding: 0;
			font-family: NeueHaas_bold, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
		}

		&-category{
			margin: 0 0 34px;
			display: block;
			width: 326px;

			.multiselect__placeholder{
				padding: 8px 38px 8px 10px;
				font-family: NeueHaas_reg, Helvetica, sans-serif;
				font-size: 14px;
				line-height: 1.2em;
				font-weight: 400;
				color: #959595;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			.multiselect__form{
				max-height: 430px;
			}

			.multiselect__section{
				cursor: pointer;
				text-decoration: underline;

				&.opened{
					text-decoration: none;
				}
			}

			.multiselect__list{
				display: none;

				&.show{
					display: block;
				}
			}
		}

		&-term{
			margin: 0 0 34px;
			width: 181px;
			display: block;
		}

		&-cost{
			display: inline-block;
			vertical-align: top;
			margin: 0 0 31px;
			padding: 14px 0 14px 19px;
			box-sizing: border-box;
			min-width: 348px;
			background: #f4f4f4;

			p{
				margin: 0 27px 0 0;
				display: inline-block;
				vertical-align: top;
				font-family: NeueHaas_reg, Helvetica, sans-serif;
				font-size: 14px;
				line-height: 30px;
				font-weight: 400;
				color: #898989;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			span{
				display: inline-block;
				vertical-align: top;
				padding: 6px 10px 6px 5px;
				border-radius: 4px;
				min-width: 59px;
				box-sizing: border-box;
				background: #fff;
				box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
				font-family: NeueHaas_reg, Helvetica, sans-serif;
				font-size: 14px;
				line-height: 1.2em;
				font-weight: 400;
				color: #898989;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
				text-align: right;

				b{
					font-size: 16px;
					font-weight: 400;
				}
			}
		}

		&-order{
			width: 208px;
		}
	}
}
/*end of cabinet-services*/