/*cabinet-services*/
.cabinet-services{

	.jq-selectbox__select-text{
		font-family: NeueHaas_reg, Helvetica, sans-serif;
		font-size: 14px;
		line-height: 1.2em;
		font-weight: 400;
		color: #959595;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	&__header{
		display: block;
		margin: 0;
		padding: 0 0 28px;

		h2{
			margin: 0 0 20px;
			padding: 0;
			font-family: NeueHaas_medium, Helvetica, sans-serif;
			font-size: 14px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0;
		}

		.jq-selectbox-main{
			margin: 0;
			width: 326px;
		}
	}

	h3{
		margin: 0;
		padding: 0;
		font-family: NeueHaas_bold, Helvetica, sans-serif;
		font-size: 18px;
		line-height: 1.2em;
		font-weight: 400;
		color: #000;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	&__table{
		margin: 0 0 29px;
		width: 451px;

		th{
			vertical-align: middle;
			text-align: left;
			padding: 5px 10px;
			height: 40px;
		}

		td{
			vertical-align: middle;
			border: 0;
			padding: 5px 10px;
			box-sizing: border-box;
			font-family: NeueHaas_medium, Helvetica, sans-serif;
			font-size: 12px;
			line-height: 1.2em;
			font-weight: 400;
			color: #464646;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;

			.brown_button{
				display: inline-block;
				vertical-align: middle;
				margin: 0;
				width: auto;
				min-width: 73px;
				padding-left: 10px;
				padding-right: 10px;
			}

			&:first-child{
				text-align: center;
				width: 100px;
			}

			&:last-child{
				text-align: right;
			}
		}

		&--promotion{
			margin: 0;

			th{
				text-align: left;

				&:nth-child(2){
					text-align: left;
					padding-left: 67px;
					border-right: none;
				}
			}

			td{
				height: 54px;

				&:first-child{
					font-family: NeueHaas_medium, Helvetica, sans-serif;
					width: 142px;
					text-align: left;
				}

				&:nth-child(2){
					width: 208px;
					text-align: left;
					padding-left: 67px;
				}

				&:last-child{
					width: 100px;
				}

				.brown_button{
					width: 75px;
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}

	&__promotion-table{
		margin: 0;
		width: 451px;

		th{
			vertical-align: middle;
			text-align: left;
			padding: 5px 10px;
			height: 40px;

			&:nth-child(2){
				padding-left: 67px;
				border-right: none;
			}
		}

		td{
			vertical-align: middle;
			border: 0;
			padding: 5px 10px;
			box-sizing: border-box;
			height: 54px;
			font-family: NeueHaas_medium, Helvetica, sans-serif;
			font-size: 12px;
			line-height: 1.2em;
			font-weight: 400;
			color: #464646;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;

			.brown_button{
				display: inline-block;
				vertical-align: middle;
				margin: 0;
				width: 73px;
			}

			&:first-child{
				font-family: NeueHaas_medium, Helvetica, sans-serif;
				width: 142px;
				text-align: left;
			}

			&:nth-child(2){
				width: 208px;
				text-align: left;
				padding-left: 67px;
			}

			&:last-child{
				width: 100px;
			}
		}
	}

	&__mailing{
		margin: 0;
		padding: 0;

		.jq-selectbox__select{
			padding-top: 6px;
		}

		h3{
			margin: 0 0 18px;
		}

		&-category{
			margin: 0 0 34px;
			display: block;
			width: 326px;

			.multiselect__placeholder{
				padding: 8px 38px 8px 10px;
				font-family: NeueHaas_reg, Helvetica, sans-serif;
				font-size: 14px;
				line-height: 1.2em;
				font-weight: 400;
				color: #959595;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			.multiselect__form{
				max-height: 430px;
			}

			.multiselect__section{
				cursor: pointer;
				text-decoration: underline;

				&.opened{
					text-decoration: none;
				}
			}

			.multiselect__list{
				display: none;

				&.show{
					display: block;
				}
			}
		}

		&-term{
			margin: 0 0 34px;
			width: 181px;
			display: block;
		}

		&-cost{
			display: inline-block;
			vertical-align: top;
			margin: 0 0 31px;
			padding: 14px 0 14px 19px;
			box-sizing: border-box;
			min-width: 348px;
			background: #f4f4f4;

			p{
				margin: 0 27px 0 0;
				display: inline-block;
				vertical-align: top;
				font-family: NeueHaas_reg, Helvetica, sans-serif;
				font-size: 14px;
				line-height: 30px;
				font-weight: 400;
				color: #898989;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			span{
				display: inline-block;
				vertical-align: top;
				padding: 6px 10px 6px 5px;
				border-radius: 4px;
				min-width: 59px;
				box-sizing: border-box;
				background: #fff;
				box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
				font-family: NeueHaas_reg, Helvetica, sans-serif;
				font-size: 14px;
				line-height: 1.2em;
				font-weight: 400;
				color: #898989;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
				text-align: right;

				b{
					font-size: 16px;
					font-weight: 400;
				}
			}
		}

		&-order{
			width: 208px;
		}
	}

	&__pro{
		margin: 0;

		p{
			margin: 0 0 25px;
			font-family: NeueHaas_reg, Helvetica, sans-serif;
			font-size: 14px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;

			b{
				font-family: NeueHaas_bold, Helvetica, sans-serif;
				font-weight: 400;
			}
		}

		a{
			width: 252px;
		}
	}

	&__ads{
		margin: 0;

		h3{
			margin: 0 0 19px;
		}

		p{
			margin: 0 0 24px;
			font-family: NeueHaas_bold, Helvetica, sans-serif;
			font-size: 14px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
		}

		&-publish,
		&-promotion{
			margin: 0 0 29px;
			width: 451px;

			th{
				vertical-align: middle;
				text-align: left;
				padding: 5px 10px;
				height: 40px;
			}

			td{
				vertical-align: middle;
				border: 0;
				padding: 5px 10px;
				box-sizing: border-box;
				font-family: NeueHaas_medium, Helvetica, sans-serif;
				font-size: 12px;
				line-height: 1.2em;
				font-weight: 400;
				color: #464646;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;

				.brown_button{
					display: inline-block;
					vertical-align: middle;
					margin: 0;
					width: 73px;
				}

				&:first-child{
					text-align: center;
				}

				&:last-child{
					text-align: right;
				}
			}
		}

		&-promotion{
			margin: 0;

			th{
				text-align: left;

				&:nth-child(2){
					text-align: left;
					padding-left: 67px;
					border-right: none;
				}
			}

			td{
				height: 54px;

				&:first-child{
					font-family: NeueHaas_medium, Helvetica, sans-serif;
					width: 142px;
					text-align: left;
				}

				&:nth-child(2){
					width: 208px;
					text-align: left;
					padding-left: 67px;
				}

				&:last-child{
					width: 100px;
				}
			}
		}
	}

	&__store-ads{

		&>p{
			margin: 0 0 20px;
			padding: 0;
			font-family: NeueHaas_reg, Helvetica, sans-serif;
			font-size: 12px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
		}

		h3{
			margin: 0 0 10px;
		}

		&-categories{
			list-style: none;
			margin: 0 0 20px;
			padding: 0;

			li{
				margin: 0 0 4px;
				line-height: 0;
			}

			h4{
				margin: 0;
				padding: 0;
				display: inline-block;
				vertical-align: top;
				font-family: NeueHaas_medium, Helvetica, sans-serif;
				font-size: 14px;
				line-height: 1.2em;
				font-weight: 400;
				color: #8b0333;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			&--table{
				margin: 23px 0 40px;

				h4{
					margin: 6px 0 0;
					min-width: 248px;
					cursor: pointer;
					position: relative;

					&::after{
						content: '';
						position: absolute;
						top: 5px;
						right: 0;
						width: 0;
						height: 0;
						border-top: 7px solid #8b0333;
						border-left: 6px solid transparent;
						border-right: 6px solid transparent;
					}

					&.opened{

						&:after{
							border-top: none;
							border-bottom: 7px solid #8b0333;
							border-left: 6px solid transparent;
							border-right: 6px solid transparent;
						}
					}
				}

				.brown_button,
				.search-button{
					margin: 0;
					float: right;
					width: 147px;

					&.show{
						display: block;
					}
				}

				table{
					margin: 15px 0 0;
					clear: both;
					width: 100%;

					&.show{
						display: table;
					}

					th{
						padding: 5px 10px;
						box-sizing: border-box;
						border: none;
						height: 40px;
						text-align: center;
						border-right: 1px solid #fff;

						&:last-child{
							padding: 5px 10px 5px 0;
							border: none;
						}
					}

					td{
						height: 40px;
						padding: 5px 10px;
						box-sizing: border-box;
						border: none;
						font-family: NeueHaas_light, Helvetica, sans-serif;
						font-size: 12px;
						line-height: 1.2em;
						font-weight: 400;
						color: #464646;
						text-transform: none;
						text-decoration: none;
						letter-spacing: 0;
						text-align: center;

						&:first-child{
							width: 50%;
						}

						&:last-child{
							width: 50%;
							padding: 5px 10px 5px 0;
						}
					}
				}
			}
		}

		&-compare{
			border-collapse: collapse;
			border: 0;
			margin: 0 0 24px;
			padding: 0;
			width: 100%;

			tr{

				&:nth-child(n+2){
					border-bottom: 1px solid #ededed;
				}
			}

			th{
				vertical-align: middle;
				padding: 11px 0;
				border: 0;
				background: #7fb3ff;
				font-family: NeueHaas_reg, Helvetica, sans-serif;
				font-size: 14px;
				line-height: 1.2em;
				font-weight: 400;
				color: #fff;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
				text-align: left;

				&:first-child{
					background: #a7cbfe;
					font-family: NeueHaas_reg, Helvetica, sans-serif;
					font-size: 11px;
					line-height: 1.2em;
					font-weight: 400;
					color: #fff;
					text-transform: none;
					text-decoration: none;
					letter-spacing: 0;
					text-align: center;
				}

				&:nth-child(2){
					padding: 2px 10px;
				}
			}

			td{
				vertical-align: middle;
				padding: 2px 0;
				border: 0;
				box-sizing: border-box;
				height: 41px;
				font-family: NeueHaas_light, Helvetica, sans-serif;
				font-size: 12px;
				line-height: 1.2em;
				font-weight: 400;
				color: #000;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;

				&:first-child{
					width: 41px;
					background: #f9f9f9;
					text-align: center;
				}

				&:nth-child(2){
					width: 89px;
					background: #f9f9f9;
					font-family: NeueHaas_reg, Helvetica, sans-serif;
					font-size: 11px;
					line-height: 1.2em;
					font-weight: 400;
					color: #959595;
					text-transform: none;
					text-decoration: none;
					letter-spacing: 0;
				}

				&:nth-child(3){
					width: 138px;
					padding: 2px 10px;
				}

				&:nth-child(4){
					width: 126px;
					padding: 2px 10px 2px 0;
				}

				img{
					max-width: 26px;
				}

				b{
					font-weight: 400;
					color: #8b0333;
				}

				.check-icon{
					width: 18px;
					height: 18px;
				}
			}
		}

		&-promotion{
			margin: 0;

			th{
				vertical-align: middle;
				height: 40px;
				padding: 5px 10px;
				box-sizing: border-box;
				text-align: left;

				&:nth-child(2){
					border-right: none;
				}

				&:last-child{
					border-right: none;
				}
			}

			td{
				height: 40px;
				vertical-align: middle;
				border: 0;
				padding: 5px 10px;
				box-sizing: border-box;
				font-family: NeueHaas_medium, Helvetica, sans-serif;
				font-size: 12px;
				line-height: 1.2em;
				font-weight: 400;
				color: #464646;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;

				&:first-child{
					width: 142px;
				}

				&:nth-child(2){
					width: 208px;
					padding: 5px 10px;
				}

				&:last-child{
					width: 100px;
					padding: 5px 10px 5px 5px;
				}
			}
		}

		&-ordered{
			float: right;
			padding: 14px 14px 0 0;
			color: #5e8ffb;
			cursor: auto;
		}
	}

	&__store-open{

		&-info{
			display: none;
			padding: 10px;
			border: 1px solid #c3c3c3;
		}
	}

	&__purchase{
		margin: 0;
		padding: 0;

		h3{
			margin: 15px 0;
		}

		&>p{
			margin: 15px 0;
			font-family: NeueHaas_reg, Helvetica, sans-serif;
			font-size: 14px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
		}

		&>.brown_button{
			margin: 15px 0 25px;
			display: block;
			width: 270px;
		}
	}

	&__jobs{

		h3{
			margin: 0 0 15px;
		}

		&-link{
			width: 175px;
			margin: 0 0 30px;
		}
	}
}
/*end of cabinet-services*/