/*favourite*/
.favourite{
	margin: 0;
	padding: 20px 15px;
	clear: both;
	background: #fff;
	border: 1px solid #d1d1d1;

	h2{
		margin: 0 0 30px;
	}

	&__nav{
		margin: 0 0 25px;
		padding: 0;
		list-style: none;
		font-size: 0;
		line-height: 0;

		li{
			margin: 0 50px 0 0;
			display: inline-block;
			vertical-align: top;
			cursor: pointer;
			font-family: NeueHaas_bold, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;

			&.active{
				color: #7fb3ff;
			}

			&:last-child{
				margin: 0;
			}
		}
	}

	p{
		margin: 0 0 25px;
		font-family: NeueHaas_medium, Helvetica, sans-serif;
		font-size: 13px;
		line-height: 1.2em;
		font-weight: 400;
		color: #000;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
	}

	table{
		display: none;

		&.show{
			display: table;
		}
	}

	&__ads{
		margin: 0 0 10px;
		width: 100%;

		th{
			height: 45px;
			vertical-align: middle;
			padding: 5px;
		}

		td{
			border: 0;
			height: 50px;
			padding: 5px 10px;
			box-sizing: border-box;
			font-family: NeueHaas_reg, Helvetica, sans-serif;
			font-size: 12px;
			line-height: 1.2em;
			font-weight: 400;
			color: #464646;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;

			&:first-child{
				width: 95px;
				font-family: NeueHaas_light-it, Helvetica, sans-serif;
			}

			&:nth-child(2){
				width: 250px;

				span{
					font-size: 14px;
					text-decoration: underline;
				}

				a{
					display: block;
					font-family: NeueHaas_light, Helvetica, sans-serif;
					font-size: 10px;
					color: #3577d7;
					text-decoration: none;
				}
			}

			&:nth-child(3){
				width: 100px;
				padding-right: 20px;
				font-family: NeueHaas_bold, Helvetica, sans-serif;
				text-align: right;
			}

			&:nth-child(4){
				width: 105px;
			}

			&:nth-child(5){
				width: 100px;
			}

			&:last-child{
				text-align: center;
			}
		}
	}

	&__stores{
		margin: 0 0 10px;
		width: 100%;

		th{
			height: 45px;
			vertical-align: middle;
			padding: 5px;
		}

		td {
			border: 0;
			height: 50px;
			padding: 5px 10px;
			box-sizing: border-box;
			font-family: NeueHaas_light, Helvetica, sans-serif;
			font-size: 12px;
			line-height: 1.2em;
			font-weight: 400;
			color: #464646;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;

			&:first-child{
				width: 50px;
				font-size: 0;
				line-height: 0;
				text-align: center;
			}

			&:nth-child(2){
				width: 165px;
				text-decoration: underline;

				a{
					color: #464646;
				}
			}

			&:nth-child(3){
				width: 110px;
				padding-right: 20px;
				text-align: right;
			}

			&:nth-child(4){
				width: 195px;
			}

			&:nth-child(5){
				width: 120px;
				text-align: center;
			}

			&:last-child{
				color: #000;
			}
		}
	}

	&__purchases{
		margin: 0 0 10px;
		width: 100%;

		th{
			height: 45px;
			vertical-align: middle;
			padding: 5px;
		}

		td {
			border: 0;
			height: 50px;
			padding: 5px 10px;
			box-sizing: border-box;
			font-family: NeueHaas_light, Helvetica, sans-serif;
			font-size: 12px;
			line-height: 1.2em;
			font-weight: 400;
			color: #464646;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;

			&:first-child{
				width: 260px;

				span{
					font-family: NeueHaas_reg, Helvetica, sans-serif;
					text-decoration: underline;
				}

				a{
					display: block;
					font-family: NeueHaas_light, Helvetica, sans-serif;
					font-size: 10px;
					color: #3577d7;
					text-decoration: none;
				}
			}

			&:nth-child(2){
				font-family: NeueHaas_light, Helvetica, sans-serif;

				span{
					width: 170px;
				}

				i{
					display: block;
					font-size: 10px;
					font-style: normal;
					color: #898989;
				}
			}

			&:nth-child(3){
				width: 170px;
				padding-right: 20px;
				font-family: NeueHaas_medium, Helvetica, sans-serif;
				color: #8b0333;
				text-align: right;
			}

			&:last-child{
				text-align: center;

				span{
					margin: 0 5px 0 0;
					font-family: NeueHaas_light-it, Helvetica, sans-serif;
				}

				i{
					font-family: NeueHaas_it, Helvetica, sans-serif;
					font-style: normal;
				}
			}
		}
	}
}
/*end of favourite*/