/*FORM*/
/*radio button*/
.input-radio{
  display: none;

  &:checked + label::after{
	background: #aec7ff;
	background: linear-gradient(135deg, #c6d8ff, #85a5f5);
  }
}

.label-radio{
  cursor: pointer;
  position: relative;

  &::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #fff;
	box-shadow: inset 0 1px 2px 0 rgba(48,48,48,.35);
  }

  &::after{
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: transparent;
  }
}
/*end of radio button*/

/*checkbox*/
.input-checkbox{
  display: none;

  &:checked{

	& + label{

	  &::before{
		box-shadow: none;
		background: #7fb3ff;
	  }

	  &::after{
		display: block;
	  }
	}
  }
}

.label-checkbox{
  position: relative;
  cursor: pointer;

  &::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 13px;
	height: 13px;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px 0 rgba(173,173,173,.75);
	background: #fff;
  }

  &::after{
	display: none;
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 6px;
	height: 4px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	background: transparent;
	transform: rotate(-45deg);
  }
}
/*end of checkbox*/

/*type='text'*/
.type-text{
  border: 1px solid #d7d7d7;
  outline: none;
  font-family: NeueHaas_light, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #464646;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
	box-sizing: content-box;
	padding: 5px;

  &:hover,
  &:focus{
	border: 1px solid #7fb3ff;
  }

  &:disabled{
	background: #f1f1f1;
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.17);
	border: none;

	&:hover,
	&:focus{
	  border: none;
	}
  }

  &-shadow{
	padding: 5px;
	border: none;
	outline: none;
	box-shadow: inset -1px 1px 3px 0 rgba(0,0,0,.17);
  }

  &-shadow-sim{
	padding: 5px;
	border: none;
	outline: none;
	box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.17);
  }
}
/*end of type='text'*/

/*textarea*/
.textarea{
  padding: 5px;

  &::-webkit-input-placeholder{
	opacity: 1;
	font-family: NeueHaas_thin-it, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	font-weight: 400;
	color: #959595;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0;
  }

  &:-ms-input-placeholder{
	opacity: 1;
	font-family: NeueHaas_thin-it, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	font-weight: 400;
	color: #959595;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0;
  }

  &::-moz-placeholder{
	opacity: 1;
	font-family: NeueHaas_thin-it, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	font-weight: 400;
	color: #959595;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0;
  }
}
/*end of textarea*/

/*brown button*/
.brown_button{
  display: block;
  border: none;
  outline: none;
  font-family: NeueHaas_bold, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
  background: #8b0333;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.25);
  padding: 8px 0;
  cursor: pointer;
  
  &:hover,
  &:focus{
	background: #a71548;
  }

	&--little{
		padding: 1px 0 6px;
		font-family: NeueHaas_reg, Helvetica, sans-serif;
		text-transform: none;
		font-size: 12px;
	}
}
/*end of brown button*/

/*blue button*/
.blue_button{
  display: block;
  padding: 8px 0;
  cursor: pointer;
  background: #7fb3ff;
  outline: none;
  border: none;
  font-family: NeueHaas_bold, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 400;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;

  &:hover,
  &:focus{
		background: #4c83fc;
  }
  
  &--dark{
	background: #4c83fc;

		&:hover,
		&:focus{
			background: #0050ff;
		}
  }
}
/*end of blue button*/

/*shadow_button*/
.shadow_button{
  display: block;
  padding: 8px 0;
  cursor: pointer;
  background: #f7f7f7;
  outline: none;
  border: none;
  font-family: NeueHaas_medium, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #464646;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.25);

  &:hover,
  &:focus{
	box-shadow: 0 -1px 1px 0 rgba(0,0,0,.25);
  }
}
/*end of shadow_button*/

/*gradient_button*/
.gradient_button{
  display: block;
  font-family: NeueHaas_medium, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0 9px;
  background: #79aaf2;
  background: linear-gradient(to bottom, #a4c8ff, #789add);

  span{
	font-size: 16px;
  }
}
/*end of gradient_button*/

/*blue-white-btn*/
.blue-white-btn{
	display: block;
	font-family: NeueHaas_reg, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.2em;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0;
	text-align: center;
	padding: 8px 0 6px;
	background: #7fb3ff;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
	cursor: pointer;

	&:hover,
	&:focus{
		color: #959595;
		background: #fff;
		box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.17);
	}
}
/*end of blue-white-btn*/

/*select formstyler plugin*/
.jq-selectbox-main{
  display: inline-block;
  vertical-align: top;

  &.disabled{
	position: relative;

	.disabled{
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  z-index: 1;
	  background: rgba(255, 255, 255, 0.85);
	  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.17);
	  border: none;
	}

	.jq-selectbox{
	  z-index: 0 !important;

	  &__select{
		box-shadow: none;
	  }
	}
  }

  .jq-selectbox{
	width: 100%;

	&.opened {

	  .jq-selectbox__trigger-arrow {
		border-top: none;
		border-bottom: 7px solid #8b0333;
	  }
	}
  }

  .dropup{

	.jq-selectbox__dropdown{
	  box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
	}
  }

  li{
	font-family: NeueHaas_light, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.2em;
	font-weight: 400;
	color: #8f9091;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0;
	padding: 4px 11px 0;

	&.selected{
	  background: #e7f0fe;
	}
  }

  .jq-selectbox__select {
	border: none;
	height: 32px;
	box-sizing: border-box;
	padding: 9px 36px 6px 10px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
	position: relative;
  }

  .jq-selectbox__select-text {
	font-family: NeueHaas_light, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.2em;
	font-weight: 400;
	color: #000;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0;
  }

  .jq-selectbox__trigger {
	width: 36px;
	height: 32px;
  }

  .jq-selectbox__trigger-arrow{
	top: 13px;
	right: 12px;
	width: 0;
	height: 0;
	border-bottom: 0;
	border-top: 7px solid #8b0333;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	pointer-events: none;
  }

  .jq-selectbox .placeholder{
  }

  .jq-selectbox__dropdown{
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.15);
	margin-top: 0;
  }
}
/*end of select formstyler plugin*/

/*form-close*/
.form-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 68px;
  height: 68px;
  background: #e1e1e1;
  cursor: pointer;

  &::before{
	content: '';
	position: absolute;
	top: 30px;
	right: 20px;
	width: 25px;
	height: 5px;
	background: #fff;
	transform: rotate(45deg);
  }

  &::after{
	content: '';
	position: absolute;
	top: 30px;
	right: 20px;
	width: 25px;
	height: 5px;
	background: #fff;
	transform: rotate(-45deg);
  }
}
/*end of form-close*/

/*form-white*/
.form-white{
  background: #fff;
  box-shadow: 2px 2px 3px 0 rgba(0,0,0,.31);
}
/*end of form-white*/

/*close-blue*/
.close-blue{
  position: absolute;
  top: -11px;
  right: -8px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #7fb3ff;
  cursor: pointer;

  &::before{
	content: '';
	position: absolute;
	top: 5px;
	right: 8px;
	width: 2px;
	height: 10px;
	background: #fff;
	transform: rotate(45deg);
  }

  &::after{
	content: '';
	position: absolute;
	top: 5px;
	right: 8px;
	width: 2px;
	height: 10px;
	background: #fff;
	transform: rotate(-45deg);
  }
}
/*end of close-blue*/

/*round-check*/
.round-check{
  position: relative;

  &::before{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #7fb3ff;
  }

  &::after{
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 9px;
	height: 6px;
	background: transparent;
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	transform: rotate(-45deg);
  }
}
/*end of round-check*/

/*pagination*/
.pagination{
	display: block;
	text-align: right;
	font-size: 0;
	line-height: 0;
  margin: 0 6px 0 0;

  &-title{
		font-family: NeueHaas_light, Helvetica, sans-serif;
		font-size: 14px;
		line-height: 1.2em;
		font-weight: 400;
		color: #868686;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		margin-right: 17px;
  }

  &-page-number{
		font-family: NeueHaas_bold, Helvetica, sans-serif;
		font-size: 14px;
		line-height: 1.2em;
		font-weight: 400;
		color: #868686;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		margin-right: 5px;
		cursor: pointer;
  }

	&-select{
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		line-height: 1.2em;
		margin-right: 30px;

		.jq-selectbox{

			&.opened{

				.jq-selectbox__trigger-arrow{
					border-bottom: 7px solid #959595;
					border-top: none;
				}
			}

			&__select{
				border: none;
				width: 12px;
				height: 7px;
				padding: 0;
				background: transparent;

				&-text{
					display: none;
				}
			}

			&__trigger{
				width: 12px;
				height: 7px;

				&-arrow{
					top: 0;
					left: 0;
					right: auto;
					width: 0;
					height: 0;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					border-top: 7px solid #959595;
					border-bottom: none;
				}
			}

			&__dropdown{
				width: auto;
				top: 15px;
				left: -7px;
			}
		}
	}

  &-volume{
		font-family: NeueHaas_medium, Helvetica, sans-serif;
		font-size: 14px;
		line-height: 1.2em;
		font-weight: 400;
		color: #868686;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		margin-right: 30px;
  }

  &-arrow{
		margin: 0 4px 0 0;
		display: inline-block;
		border-left: 2px solid #959595;
		border-bottom: 2px solid #959595;
		width: 6px;
		height: 6px;
		transform: rotate(45deg);

		&--right{
			margin: 0;
			transform: rotate(-135deg);
		}
  }
}
/*end of pagination*/

/*table*/
.table{
	border-collapse: collapse;
	border: none;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.15);
	background: #fff;
	padding: 0;

	tr{

		&:nth-child(n+2){
			border-bottom: 1px solid #ededed;
			cursor: pointer;

			&:hover,
			&:focus{
				background: #ddebfe;

				td{
					border-color: #ddebfe;
				}
			}
		}
	}

	th{
		background: #f3f3f3;
		font-family: NeueHaas_light, Helvetica, sans-serif;
		font-size: 11px;
		line-height: 1.2em;
		font-weight: 400;
		color: #acacac;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		border: none;
		border-right: 1px solid #fff;
		padding: 16px 0;

		&:last-child{
			border: none;
		}
	}
}
/*end of table*/

/*check-icon*/
.check-icon{
	position: relative;

	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background: #7fb3ff;
	}

	&::after{
		content: '';
		position: absolute;
		top: 3px;
		left: 4px;
		width: 8px;
		height: 5px;
		background: transparent;
		border-left: 2px solid #fff;
		border-bottom: 2px solid #fff;
		transform: rotate(-45deg);
		box-shadow: 0 1px 3px 0 rgba(53,119,215,.5);
	}
}
/*end of check-icon*/
/*end of FORM*/