/*my variables*/
//fonts
$neue-haas-reg: 'NeueHaas_reg';
$neue-haas-bold: 'NeueHaas_bold';
$neue-haas-medium: 'NeueHaas_medium';
$neue-haas-light-it: 'NeueHaasUnicaW1G-LightIt';
$neue-haas-light: 'NeueHaas_light';
$neue-haas-thin: 'NeueHaasUnicaW1G-Thin';
$neue-haas-thin-it: 'NeueHaasUnicaW1G-ThinItalic';
/*end of my variables*/