/*my variables*/
//fonts
$neue-haas-reg: 'NeueHaasUnicaW1G-Regular';
$neue-haas-bold: 'NeueHaasUnicaW1G-Bold';
$neue-haas-medium: 'NeueHaasUnicaW1G-Medium';
$neue-haas-light-it: 'NeueHaasUnicaW1G-LightIt';
$neue-haas-light: 'NeueHaasUnicaW1G-Light';
$neue-haas-thin: 'NeueHaasUnicaW1G-Thin';
/*end of my variables*/