/*shop*/
.shop{
	margin: 0;
	padding: 20px 15px;
	clear: both;
	background: #fff;
	border: 1px solid #d1d1d1;

	h2{
		margin: 0 0 15px;
	}

	&__left{
		display: table-cell;
		min-width: 525px;
		padding: 0 15px 0 0;
	}
	
	&__info{
		margin: 0;
		padding: 15px 20px 0;
		background: #f8f8f8;

		h3{
			margin: 0 0 15px;
			font-family: NeueHaas_bold, Helvetica, sans-serif;
			font-size: 21px;
			line-height: 1.2em;
			font-weight: 400;
			color: #14367e;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
		}

		table{
			margin: 0;
			width: 100%;
			box-sizing: border-box;

			td{
				padding: 0 0 15px;
				border: 0;
				box-sizing: border-box;
				vertical-align: top;
				font-family: NeueHaas_reg, Helvetica, sans-serif;
				font-size: 15px;
				line-height: 1.2em;
				font-weight: 400;
				color: #000;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;

				&:last-child{
					width: 230px;
					padding: 0 0 15px 10px;
				}

				&[rowspan='3']{
					width: 150px;
				}

				&[colspan='3']{
					width: auto;
					padding: 0 0 15px;
				}

				.mail{
					font-family: NeueHaas_medium, Helvetica, sans-serif;
					font-size: 15px;
					line-height: 1.2em;
					font-weight: 400;
					color: #3577d7;
					text-transform: none;
					text-decoration: none;
					letter-spacing: 0;
				}

				ul{
					list-style: none;
					margin: 0;
					padding: 0;

					li{
						margin: 0 0 10px;
						padding: 0 0 0 25px;
						font-family: NeueHaas_medium, Helvetica, sans-serif;
						font-size: 15px;
						line-height: 1.2em;
						font-weight: 400;
						color: #000;
						text-transform: none;
						text-decoration: none;
						letter-spacing: 0;

						&.ship-equipment{
							background: url("images/ship-equipment--blue.png") no-repeat 0 center;
						}

						&.ship-electronic{
							background: url("images/ship-electronic--blue.png") no-repeat 0 center;
						}

						&.ship-materials{
							background: url("images/ship-materials--blue.png") no-repeat 0 center;
						}
					}
				}

				.map{
					margin: 0 -20px;
					width: 525px;
					height: 200px;

					#map{
						width: 100%;
						height: 100%;
					}
				}

				.loading{
					margin: 0 25px 0 0;
					padding: 0 0 0 30px;
					display: inline-block;
					vertical-align: top;
					background: url("images/loading-icon.png") no-repeat 0 center;
				}

				.shipping{
					margin: 0;
					padding: 0 0 0 30px;
					display: inline-block;
					vertical-align: top;
					background: url("images/shipping-icon.png") no-repeat 0 center;
				}

				.schedule{
					list-style: none;
					margin: 0;
					padding: 0;

					li{
						padding: 0;
						font-family: NeueHaas_reg, Helvetica, sans-serif;

						span{
							display: inline-block;
							vertical-align: top;
							width: 60px;
							padding: 0 10px 0 0;
							box-sizing: border-box;
						}

						b{
							font-weight: 400;
						}
					}
				}
			}

			&.light{

				td{

					&[rowspan='3']{
						width: auto;
					}

					.map{
						margin: 0;
						width: 100%;
					}
				}
			}
		}

		&--business{
			background: #deebfe;
		}

		&--light{
			padding: 15px 0 0;
			background: transparent;

			h3{
				margin-bottom: 30px;
				color: #000;
				text-align: left;
			}
		}
	}

	&__logo{
		width: 150px;
		padding: 0 10px;
		box-sizing: border-box;
		line-height: 0;

		img{
			max-width: 100%;
		}
	}
	
	&__right{
		display: table-cell;
		min-width: 245px;

		.advertisement{
			margin: 10px 0 0;
			padding: 20px;
			min-height: 400px;
			box-sizing: border-box;
			border: 1px solid #8b8b8b;
			font-family: NeueHaas_reg, Helvetica, sans-serif;
			font-size: 12px;
			line-height: 1.2em;
			font-weight: 400;
			color: #959595;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
		}
	}

	&__controls{
		border: 1px solid #d1d1d1;
		padding: 15px;

		ul{
			list-style: none;
			margin: 0;
			padding: 0;

			li{
				margin: 0 0 20px;
				padding: 0 0 0 45px;
				font-family: NeueHaas_thin-it, Helvetica, sans-serif;
				font-size: 14px;
				line-height: 1.2em;
				font-weight: 400;
				color: #464646;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
				
				&.deal{
					background: url("images/b-faq-block__link--deals.png") no-repeat 0 center;
				}

				&.review{
					background: url("images/dialogue-icon.png") no-repeat 0 center;
				}

				&.mark{
					background: url("images/star-icon.png") no-repeat 0 center;

					img{
						margin: 0 0 0 10px;
						display: inline-block;
						vertical-align: bottom;
					}
				}

				span{
					margin: 3px 0 0;
					display: inline-block;
					vertical-align: top;
					font-family: NeueHaas_medium, Helvetica, sans-serif;
					font-size: 14px;
					color: #000;
				}
			}
		}
	}

	&__goods{
		margin: 25px 0 0;
		padding: 0;

		h3{
			margin: 0 0 35px;
			font-family: NeueHaas_bold, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
		}

		table{
			margin: 0 0 30px;
			width: 100%;

			th{
				height: 45px;
				padding: 5px 10px;
				box-sizing: border-box;
			}

			td{
				vertical-align: middle;
				height: 50px;
				padding: 5px 10px;
				box-sizing: border-box;

				&:first-child{
					width: 200px;
				}

				&:nth-child(2){
					width: 140px;
					font-family: NeueHaas_medium, Helvetica, sans-serif;
					font-size: 14px;
					line-height: 1.2em;
					font-weight: 400;
					color: #8b0333;
					text-transform: none;
					text-decoration: none;
					letter-spacing: 0;
				}

				&:nth-child(3){
					width: 165px;
					font-family: NeueHaas_light, Helvetica, sans-serif;
					font-size: 14px;
					line-height: 1.2em;
					font-weight: 400;
					color: #000;
					text-transform: none;
					text-decoration: none;
					letter-spacing: 0;
				}

				&:nth-child(4){
					width: 130px;
					font-family: NeueHaas_light, Helvetica, sans-serif;
					font-size: 14px;
					line-height: 1.2em;
					font-weight: 400;
					color: #464646;
					text-transform: none;
					text-decoration: none;
					letter-spacing: 0;
				}

				&:last-child{
					font-family: NeueHaas_reg, Helvetica, sans-serif;
					font-size: 14px;
					line-height: 1.2em;
					font-weight: 400;
					color: #464646;
					text-transform: none;
					text-decoration: none;
					letter-spacing: 0;
				}

				.title{
					font-family: NeueHaas_reg, Helvetica, sans-serif;
					font-size: 14px;
					line-height: 1.2em;
					font-weight: 400;
					color: #464646;
					text-transform: none;
					text-decoration: underline;
					letter-spacing: 0;
				}

				.category{
					font-family: NeueHaas_light, Helvetica, sans-serif;
					font-size: 10px;
					line-height: 1.2em;
					font-weight: 400;
					color: #3577d7;
					text-transform: none;
					text-decoration: none;
					letter-spacing: 0;
				}
			}
		}
	}

	&__categories{
		margin: 0 0 20px;

		span{
			display: inline-block;
			vertical-align: middle;
			margin: 0 85px 0 0;
			font-family: NeueHaas_reg, Helvetica, sans-serif;
			font-size: 15px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;

			b{
				margin: 0 0 0 15px;
				font-family: NeueHaas_bold, Helvetica, sans-serif;
				font-weight: 400;
			}
		}

		.jq-selectbox-main{
			display: inline-block;
			vertical-align: middle;
			width: 330px;
		}
	}
}
/*end of shop*/